.contacts {
  line-height: auto;
  outline: 2px solid red;
}
.contacts__preview {
  font-size: 24px;
  font-weight: 300;
}
.communication-list__action {
  font-size: 18px;
  font-weight: 700;
}
.communication-list__type {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
}
