.download-app {
  background-color:  #1d2632;
  color: #ffffff;
  font-weight: 300;
  outline: 2px solid green;
  margin-bottom: 10px;
}
.download-app__slogan {
  font-size: 24px;
  line-height: auto;
  margin: 0;
  padding: 0;
}
.download-app__button {
  background-color: #1d2631;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}
.download-app__variant-systems {
  margin: 0;
  padding: 0;
}
