.download-app {
  display: flex;
  flex-direction: column;
  background-color: #1d2631;
  color: #ffffff;
  font-weight: 300;
}
.download-app__wrapper {
  width: 280px;
  margin: 0 auto;
}
.download-app__link {
  display: block;
  background-color: #1d2631;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  width: 280px;
  padding: 17px 30px;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 32px;
  border: 3px solid #ffffff;
  border-radius: 45px;
}
.download-app__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.list-systems {
  margin: 0;
  margin-bottom: 23px;
  padding: 0 15px;
}
.list-system__item-link {
  display: block;
  background-color: #1d2631;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}
.download-app__variant-systems {
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}
@media (min-width: 660px) {
  .download-app {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .download-app__wrapper {
    width: 50%;
  }
  .download-app__slogan {
    background-image: none;
    background-color: transparent;
  }
  .download-app__link {
    background-color: transparent;
  }
}
@media (min-width: 960px) {
  .download-app {
    background-image: none;
    background-color: transparent;
  }
  .download-app__slogan {
    background-image: none;
  }
}
