.container {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 660px) {
  .container {
    width: 620px;
  }
}
@media (min-width: 960px) {
  .container {
    width: 940px;
  }
}
.effect {
  display: none;
}
@media (min-width: 660px) {
  .effect {
    padding: 95px 0;
    display: block;
  }
  .effect__article {
    position: relative;
    margin-left: auto;
    width: 310px;
  }
  .effect__article::before {
    position: absolute;
    padding: 12px 32px;
    top: calc(50% - 89px);
    left: -94%;
    content: "24";
    font-weight: 700;
    font-size: 96px;
    line-height: 149px;
    color: #d22856;
    border: 14px solid #d22856;
    border-radius: 100%;
    background-color: #eeeeee;
    z-index: 2;
  }
  .effect__article::after {
    position: absolute;
    top: calc(50% - 145px);
    left: -99%;
    width: 240px;
    height: 280px;
    content: "";
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
  }
  .effect__article-header {
    margin: 0 0 8px 0;
    padding: 0 140px 0 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-align: left;
  }
  .effect__article-time {
    padding-left: 2px;
    display: block;
  }
  .effect__article-content {
    margin: 0 14px 11px 0;
  }
  .effect__article-link {
    color: #d22856;
    text-decoration: underline;
  }
}
@media (min-width: 960px) {
  .effect {
    padding: 43px 0 114px 0;
    background-color: #f2f2f2;
  }
  .effect__article {
    margin-left: 366px;
    width: 570px;
  }
  .effect__article::before {
    padding: 15px 41px;
    top: calc(50% - 129px);
    left: -61%;
    font-size: 120px;
    line-height: 186px;
    border: 18px solid #d22856;
  }
  .effect__article::after {
    top: calc(50% - 202px);
    left: -65%;
    width: 300px;
    height: 350px;
    background-size: 100%;
  }
  .effect__article-header {
    line-height: 30px;
    margin-bottom: 25px;
  }
  .effect__article-time {
    padding-left: 0;
    display: inline-block;
  }
  .effect__article-content {
    margin: 0;
    padding: 0;
    padding-right: 44px;
    padding-bottom: 30px;
  }
  .effect__article-content,
  .effect__article-link {
    font-size: 18px;
    line-height: 30px;
  }
}
