@import "../mixins";

.form__description {
  display: flex;
  flex-direction: column;
}

.form__preview,
.form__preview-add {
  .container();
  padding: 0;
  line-height: 30px;
  text-align: center;
}

fieldset {
  border: 0 none;
}

.form__preview {
  padding: 46px 0 36px 0;
}

.form__preview-add {
  display: none;
}

.profile {
  .container();
}

.profile__data,
.contacts-data__tel,
.contacts-data__mail {
  margin: 0;
  padding: 0 0 17px 0;

  &:last-child {
    padding: 0 0 18px 0;
  }
}

input[placeholder] {
  padding: 17px 0 16px 24px;
  width: 280px;
  font-family: "Opensans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border-radius: 3px;
}

.profile__info,
.contacts-data__number,
.contacts-data__email {
  display: block;
  padding: 0 0 28px 0;
  border: 2px solid #e5e5e5;

  &::placeholder {
    font-size: 18px;
    color: #283645;
  }
}

.action__header,
.contacts-data__name,
.system__question,
.comments__preview,
.contacts__info {
  margin: 0;
  line-height: 18px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}

.profile__name,
.contacts-data__name {
  padding: 0 0 6px 23px;
  display: block;
  color: #d22856;
  text-transform: uppercase;
  text-align: left;
}

.action__header {
  margin: 0;
  width: 250px;
  transform: translateY(161%);
}

.action,
.system {
  background-color: #f2f2f2;
}

.action__name,
.system__name {
  font-size: 18px;
  line-height: 30px;
}

.action__wrapper {
  padding-top: 78px;
  padding-bottom: 10px;
}

.action__data-info {
  width: 39px;
  height: 39px;
  opacity: 0;
}

.action__data {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
}

.action__name {
  position: relative;
  padding-left: 18px;

  &::before {
    position: absolute;
    top: -8px;
    left: -50px;
    content: "";
    width: 39px;
    height: 39px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
  }

  &:hover::before {
    border: 2px solid #283645;
  }

  &:active::before {
    border: 2px solid #d22856;
  }
}

.action input[type="checkbox"]:checked + .action__name {
  &::after {
    position: absolute;
    top: 4px;
    left: -41px;
    content: "";
    width: 22px;
    height: 17px;
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    opacity: 1;
  }
}

.action__name::after {
  opacity: 0;
}

.action__name:hover::after {
  opacity: 1;
}

.contacts__info {
  display: none;
}

.contacts-data__tel {
  padding-top: 38px;
}

.contacts-data__name {
  padding: 0 0 10px 23px;
}

.contacts-data__number::placeholder,
.contacts-data__email::placeholder {
  font-size: 18px;
  color: #283645;
}

.system__wrapper {
  .container();
  padding-top: 95px;
  display: flex;
  flex-direction: column;
}

.system__question {
  margin: 0 auto;
  padding: 0;
  width: 295px;
  transform: translateY(164%);
}

.system__item {
  margin: 0;
  margin-bottom: 0;
  padding: 0 0 40px 0;
  display: flex;

  &:last-child {
    padding-bottom: 31px;
  }
}

.system__name {
  position: relative;
  padding: 0 0 0 31px;
}

.system__info {
  position: relative;
  margin: 0;
  outline: none;
  width: 35px;
  height: 35px;
  appearance: none;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #e5e5e5;

  :active {
    border: 2px solid #d22856;
  }

  &::before {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 15px;
    height: 15px;
    content: "";
    background-color: #d22856;
    border-radius: 50%;
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }
}

.system__info:checked::before {
  opacity: 1;
}

.comments__preview {
  padding: 34px 0 14px 0;
}

.comments__description {
  margin: 0 auto;
  margin-bottom: 45px;
  width: 280px;
  font-family: "Opensans", "Arial", sans-serif;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
}

.comments__description::placeholder {
  padding: 19px 20px 0 20px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.button-wrapper {
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-wrapper__btn {
  margin: 0 0 37px 0;
  padding: 18px 46px;
  display: block;
  width: 280px;
  font-family: "Opensans", "Arial", sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: 1px solid transparent;
  border-radius: 3px;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    background-color: #1c9b5e;
    color: #7dbd99;
  }

  &:disabled {
    background-color: #e5e5e5;
    color: #ffffff;
  }
}

.button-wrapper__star {
  color: #d22856;
}

.button-wrapper__full {
  display: none;
}

.button-wrapper__note {
  margin: 0;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  input[placeholder] {
    padding: 17px 0 16px 19px;
    line-height: 26px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .form__preview-wrapper {
    padding-bottom: 69px;
    display: flex;
    flex-direction: column;
  }

  .form__preview {
    padding-top: 95px;
    padding-bottom: 0;
    font-size: 18px;
    width: 490px;
  }

  .form__preview-add {
    margin: 0 auto;
    display: inline;
    font-size: 18px;
  }

  .profile {
    padding-bottom: 56px;
    order: -5;
  }

  .profile__data {
    padding-bottom: 48px;
    display: flex;
    align-items: center;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .profile__name {
    margin: 0;
    padding: 0 20px 0 0;
    line-height: 30px;
  }

  .profile__info[placeholder] {
    width: 100%;
  }

  .system {
    order: -4;
  }

  .system__item {
    padding: 0 0 40px 63px;
  }

  .action,
  .system,
  .comments {
    margin: 0 auto;
    margin-bottom: 57px;
    padding: 0;
    width: 620px;
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
  }

  .system__wrapper {
    padding: 46px 0 25px 0;
  }

  .system__question,
  .contacts__info,
  .action__header,
  .comments__preview {
    padding: 0 25px;
    transform: translateY(0);
    margin: 0 auto;
  }

  .system__question {
    width: 380px;
  }

  .action__header {
    width: 425px;
  }

  .system__name {
    padding: 0 0 0 21px;
  }

  .contacts-data {
    order: -3;
    border: 2px solid #f2f2f2;
    margin-bottom: 54px;
  }

  .contacts__info {
    display: block;
  }

  .contacts-data__name {
    padding: 12px 0 35px 19px;
  }

  .contacts-data__tel,
  .contacts-data__mail {
    margin: 0 auto;
    padding: 38px 0 0 0;
    display: flex;
    flex-direction: column-reverse;
    width: 500px;
  }

  .contacts-data__number[placeholder],
  .contacts-data__email[placeholder] {
    width: 100%;
  }

  .contacts-data__tel {
    position: relative;

    &::before {
      position: absolute;
      top: 60px;
      right: 22px;
      content: "";
      width: 20px;
      height: 20px;
      background-color: #e5e5e5;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      z-index: 10;
    }

    &::after {
      position: absolute;
      top: 40px;
      right: 2px;
      content: "";
      width: 59px;
      height: 59px;
      background-color: #e5e5e5;
    }
  }

  .contacts-data__mail:last-child {
    position: relative;
    padding-bottom: 0;

    &::before {
      position: absolute;
      top: 25px;
      right: 22px;
      content: "";
      width: 19px;
      height: 15px;
      background-color: #e5e5e5;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      z-index: 10;
    }

    &::after {
      position: absolute;
      top: 2px;
      right: 2px;
      content: "";
      width: 59px;
      height: 59px;
      background-color: #e5e5e5;
    }
  }

  .action {
    order: -2;
  }

  .action__wrapper {
    padding: 30px 0 56px 51px;
  }

  .action__name::before {
    top: -5px;
    left: -41px;
  }

  .action input[type="checkbox"]:checked + .action__name::after {
    left: -32px;
  }

  .action__data:last-child {
    padding-bottom: 0;
  }

  .comments {
    order: 0;
  }

  .comments__description {
    margin: 33px 59px 37px 59px;
    width: 500px;
  }

  .button-wrapper {
    margin-top: 14px;
    flex-direction: row;
    justify-content: space-between;
  }

  .button-wrapper__btn {
    width: 300px;
  }

  .button-wrapper__link {
    padding: 18px 56px;
    width: 300px;
  }

  .button-wrapper__note {
    padding-bottom: 38px;
  }
}

@media (min-width: @desktop-width) {
  .form__description {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .form__wrapper {
    margin: 0 auto;
    width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .form__preview-wrapper {
    width: 940px;
  }

  .form__preview {
    margin: 0 auto;
    padding: 92px 0 0 0;
    width: 760px;
  }

  .form__preview-add {
    padding: 0;
    display: inline;
  }

  .profile,
  .system__wrapper {
    width: 435px;
  }

  .profile {
    margin: 0 0 0 auto;
    flex-grow: 1;
  }

  .profile__info[placeholder] {
    width: 100%;
  }

  .profile__wrapper {
    width: 435px;
  }

  .system {
    width: 435px;
  }

  .system__item {
    padding-left: 81px;
  }

  .contacts-data__wrapper {
    display: flex;
    justify-content: space-around;
  }

  .contacts-data__tel,
  .contacts-data__mail {
    width: 375px;
  }

  .contacts-data__name {
    padding-bottom: 22px;
  }

  .contacts-data__tel::before {
    top: 60px;
    right: 22px;
  }

  .contacts-data__mail:last-child::before {
    top: 62px;
    right: 22px;
  }

  .contacts-data__tel::after {
    top: 40px;
    right: 2px;
  }

  .contacts-data__mail:last-child::after {
    top: 40px;
    right: 2px;
  }

  .action,
  .comments {
    width: 940px;
  }

  .action__wrapper {
    padding-bottom: 28px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .action__data:last-child {
    padding-bottom: 31px;
  }

  .action__data {
    width: 270px;
    padding-right: 0;

    &:nth-child(1) {
      order: -5;
    }

    &:nth-child(3) {
      order: -4;
    }

    &:nth-child(5) {
      order: -3;
    }
  }

  .action__name {
    padding-left: 17px;
  }

  .action__name::before {
    top: -9px;
    left: -46px;
  }

  .action input[type="checkbox"]:checked + .action__name::after {
    left: -36px;
  }

  .comments {
    padding: 33px 0 32px 0;
  }

  .comments textarea {
    height: 128px;
  }

  .comments__preview {
    padding: 0 15px;
  }

  .comments__description {
    width: 820px;
    margin: 0 60px;
  }

  .button-wrapper__full {
    display: inline;
  }
}
