.opportunity {
  background-color: #f2f2f2;
  outline: 2px solid yellow;
}
.promo-list {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
.promo-list__recommendation {
  font-size: 24px;
  line-height: auto;
}
.list-note__item-header {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.promo-list__recommendation {
  margin: 0;
  padding: 0;
}
