.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-footer__social {
  display: block;
  background-color: green;
  height: 50px;
  width: 175px;
}
.development__team {
  line-height: 18px;
}
@media (min-width: 660px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
