.container {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 660px) {
  .container {
    width: 620px;
  }
}
@media (min-width: 960px) {
  .container {
    width: 940px;
  }
}
.page-header {
  color: #ffffff;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.main-nav {
  position: relative;
}
.main-nav__logo-block {
  height: 63px;
  padding: 20px 20px;
  z-index: 1;
}
.main-nav__logo-block .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  background-color: #283645;
  font-size: 18px;
}
.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  border-top: 1px solid #485461;
  box-shadow: 0 -1px 0 1px #000000;
}
.site-list__item:last-child {
  border-bottom: 1px solid #000000;
}
.site-list__item-link {
  color: #ffffff;
}
.main-nav__toggle {
  display: block;
  background-color: #283645;
  color: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}
.main-nav--opened .main-nav__toggle {
  position: relative;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  width: 26px;
  height: 4px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__logo-block {
  background-color: #283645;
}
.main-nav--opened .page-header__slogan {
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-size: auto, cover;
  background-position: bottom center, center;
}
.main-nav--closed .site-list {
  display: none;
}
.main-nav--closed .main-nav__logo-block {
  background-color: rgba(0, 0, 0, 0.3);
}
.main-nav--closed .main-nav__toggle {
  position: relative;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -25px;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 #ffffff;
}
.page-header__slogan {
  height: 396px;
  width: 100%;
  padding: 25px 20px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.main-nav--opened .page-header--photo__header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
}
.page-header--photo__header h1 {
  height: 170px;
  width: 280px;
  margin: 0 auto;
  padding: 25px 20px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 660px) {
  .main-nav {
    position: relative;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
  }
  .main-nav__logo-block {
    height: 110px;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
  .main-nav__logo-block .inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .page-header {
    position: relative;
    background-image: none;
  }
  .page-header__slogan {
    width: 280px;
    margin: 0 auto;
    height: 629px;
    padding: 64px 0 0 32px;
    text-align: left;
    background-image: none;
    font-size: 40px;
    line-height: 48px;
  }
  .page-header__slogan p {
    width: 240px;
    text-align: center;
  }
  .main-nav__wrapper {
    height: 629px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .main-nav--opened {
    background: none;
  }
  .main-nav--opened .page-header__slogan {
    background-image: none;
  }
  .main-nav--opened .main-nav__wrapper {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto, cover;
  }
  .main-nav--opened .page-header--photo__header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
  }
  .page-header--photo__header h1 {
    font-size: 50px;
    line-height: 56px;
    width: 660px;
    height: 330px;
  }
}
@media (min-width: 660px) and (min-width: 660px) {
  .page-header__slogan {
    width: 620px;
  }
}
@media (min-width: 660px) and (min-width: 960px) {
  .page-header__slogan {
    width: 940px;
  }
}
@media (min-width: 960px) {
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .page-header--photo {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
  .main-nav--opened .page-header--photo__header {
    background-image: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 auto;
  }
  .page-header--photo__header h1 {
    height: 280px;
  }
  .main-nav--opened .page-header__slogan {
    font-size: 50px;
    line-height: 60px;
    padding-top: 70px;
    padding-left: 82px;
  }
  .main-nav--opened .page-header__slogan p {
    margin: 0;
  }
  .main-nav--opened .main-nav__logo-block {
    background-color: transparent;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    background-image: none;
  }
  .site-list {
    font-size: 18px;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 620px;
    height: 100px;
  }
  .site-list__item {
    text-transform: capitalize;
    border: none;
    box-shadow: none;
  }
}
