.page-header__header-photo,
.form__header-form {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  height: 175px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 90px;
}
.page-header__logo {
  display: block;
  margin: 0 auto;
  width: 260px;
  margin-top: 20px;
  margin-bottom: 27px;
  z-index: 10;
}
.main-nav--index,
.main-nav--photo {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 300px;
}
.main-nav--index::before,
.main-nav--photo::before {
  position: absolute;
  content: "";
  background-image: url("../img/iphone-hand-mobile@1x.png");
  width: 258px;
  height: 286px;
  left: calc(50% - 160px);
  bottom: 280px;
}
.main-nav--photo::before {
  content: "";
  background-image: none;
}
.site-list {
  background-color: #283645;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.site-list__item {
  border-top: 1px solid #485461;
  box-shadow: 0 -1px 0 1px #000000;
}
.site-list__item:last-child {
  border-bottom: 1px solid #000000;
}
.site-list__item-link {
  display: block;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 16px;
}
.main-nav__toggle {
  position: absolute;
  display: block;
  background-color: #283645;
  color: #ffffff;
  width: 20px;
  height: 20px;
  right: calc(50% - 140px);
  top: 8px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  z-index: 2;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 4px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 #ffffff;
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.page-header__slogan {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  height: 420px;
  margin: 0 auto;
  padding-top: 50px;
}
@media (max-width: 659px) {
  .main-nav--closed {
    position: relative;
    background-color: #283645;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .main-nav--closed::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 65px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.25;
    z-index: 1;
  }
  .main-nav--closed .site-list {
    display: none;
  }
}
@media (min-width: 660px) {
  .main-nav--index,
  .main-nav--photo {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
  }
  .main-nav--index::before {
    position: absolute;
    content: "";
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-size: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    width: 700px;
    height: 545px;
    left: calc(50% - 345px);
    bottom: -35px;
  }
  .main-nav--photo::before {
    content: "";
    background-image: none;
  }
  .page-header__logo {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 40px;
  }
  .main-nav__toggle {
    margin-top: 30px;
    right: calc(50% - 300px);
    top: 17px;
  }
  .page-header__slogan {
    font-size: 40px;
    line-height: 44px;
    width: 30%;
    height: 270px;
    margin-right: auto;
    margin-left: 60px;
    padding-top: 100px;
  }
  .form__header-form {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
  .main-nav--closed .site-list {
    display: none;
  }
  .main-nav--closed {
    width: 100%;
    background-position-y: top;
  }
  .main-nav--closed::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 110px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.25;
    z-index: 1;
  }
}
@media (min-width: 960px) {
  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 853px;
  }
  .main-nav {
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
    background-image: none;
  }
  .main-nav--index .inner {
    width: 300px;
  }
  .main-nav--index::before {
    position: absolute;
    content: "";
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-size: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    width: 1050px;
    height: 645px;
    left: calc(50% - 440px);
    top: 205px;
  }
  .main-nav__toggle {
    display: none;
  }
  .site-list {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 620px;
  }
  .site-list__item {
    border: none;
    box-shadow: none;
  }
}
