.container {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 660px) {
  .container {
    width: 620px;
  }
}
@media (min-width: 960px) {
  .container {
    width: 940px;
  }
}
.page-header {
  color: #ffffff;
  background-image: url("../img/bg-back-mobile@1x.webp");
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url("../img/bg-back-mobile@2x.webp");
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}
.main-nav {
  position: relative;
}
.main-nav__logo-block {
  padding: 22px 20px;
  height: 70px;
}
.main-nav__logo-block .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header__logo {
  display: block;
  width: 75px;
  height: 23px;
  background-image: url("../img/logo-pink-white-mobile.svg");
  background-repeat: no-repeat;
}
.page-header__logo:hover {
  background-image: url("../img/logo-pink-white-mobile--hover.svg");
}
.page-header__logo:active {
  opacity: 0.3;
}
.site-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  background-color: #283645;
}
.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  height: 63px;
  border-top: 1px solid #485461;
  box-shadow: 0 0 0 1px #000000;
}
.site-list__item:last-child {
  border-bottom: 1px solid #000000;
}
.site-list__item-link {
  color: #ffffff;
}
.site-list__item-link:hover {
  color: #d22856;
}
.site-list__item-link:active {
  opacity: 0.3;
}
.main-nav__toggle {
  margin-right: 10px;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}
.main-nav--opened .main-nav__toggle {
  position: relative;
  background-color: #283645;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  width: 26px;
  height: 4px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:hover::before {
  background-color: #d22856;
}
.main-nav--opened .main-nav__toggle:hover::after {
  background-color: #d22856;
}
.main-nav--opened .main-nav__toggle:active::before {
  opacity: 0.3;
}
.main-nav--opened .main-nav__toggle:active::after {
  opacity: 0.3;
}
.main-nav--opened .main-nav__logo-block {
  background-color: #283645;
}
.main-nav--opened .page-header__slogan {
  background-image: url("../img/iphone-hand-mobile@1x.webp"), url("../img/bg-back-mobile@1x.webp");
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-size: auto, cover;
  background-position: left bottom, center bottom;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .main-nav--opened .page-header__slogan {
    background-image: url("../img/iphone-hand-mobile@2x.webp"), url("../img/bg-back-mobile@2x.webp");
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
    background-size: 258px auto, cover;
  }
}
.main-nav--closed .site-list {
  display: none;
}
.main-nav--closed .main-nav__logo-block {
  background-color: rgba(0, 0, 0, 0.3);
}
.main-nav--closed .main-nav__toggle {
  position: relative;
}
.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  top: -2px;
  left: -14px;
  width: 50px;
  height: 4px;
  content: "";
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:hover::before {
  background-color: #d22856;
  box-shadow: 0 10px 0 0 #d22856, 0 20px 0 #d22856;
}
.main-nav--closed .main-nav__toggle:active::before {
  opacity: 0.3;
}
.page-header__slogan {
  padding: 1px 20px 0;
  width: 100%;
  height: 392px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  background-image: url("../img/iphone-hand-mobile@1x.webp");
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left bottom;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header__slogan {
    background-image: url("../img/iphone-hand-mobile@2x.webp");
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px auto;
  }
}
.page-header__slogan p {
  margin: 0 auto;
  margin-top: 25px;
  width: 225px;
}
.main-nav--closed .page-header__slogan p {
  margin-top: 20px;
}
.main-nav--opened .page-header--photo__header {
  width: 100%;
  background-image: url("../img/bg-back-mobile@1x.webp");
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 25%;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .main-nav--opened .page-header--photo__header {
    background-image: url("../img/bg-back-mobile@2x.webp");
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}
.page-header--photo__header h1 {
  margin: 0 auto;
  padding: 28px 20px 0;
  height: 171px;
  width: 280px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 660px) {
  .main-nav {
    position: relative;
    background-image: url("../img/bg-back-tablet@1x.webp");
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
  }
  .main-nav__logo-block {
    padding: 0 20px;
    height: 110px;
    display: flex;
    align-items: center;
  }
  .main-nav__logo-block .inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .page-header {
    position: relative;
    background-image: none;
  }
  .page-header__logo {
    width: 154px;
    height: 48px;
    background-image: url("../img/logo-pink-white-tablet.svg");
  }
  .page-header__logo:hover {
    background-image: url("../img/logo-pink-white-tablet--hover.svg");
  }
  .page-header__slogan {
    width: 280px;
    margin: 0 auto;
    padding: 64px 0 0 32px;
    height: 620px;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
    background-image: none;
  }
  .page-header__slogan p {
    margin-right: auto;
    margin-left: 0;
    margin-top: 32px;
    width: 240px;
    text-align: center;
  }
  .main-nav--closed .page-header__slogan p {
    margin-top: 28px;
  }
  .main-nav__wrapper {
    background-image: url("../img/iphone-hand-tablet@1x.webp");
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .main-nav--opened .page-header__slogan {
    background-image: none;
  }
  .main-nav--opened .main-nav__wrapper {
    background-image: url("../img/iphone-hand-tablet@1x.webp"), url("../img/bg-back-tablet@1x.webp");
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto, auto;
  }
  .main-nav--opened .page-header--photo__header {
    width: 100%;
    background-image: url("../img/bg-back-tablet@1x.webp");
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 25%;
  }
  .page-header--photo__header h1 {
    padding: 73px 20px 0;
    width: 660px;
    height: 330px;
    font-size: 50px;
    line-height: 60px;
  }
  .main-nav--closed .main-nav__toggle::before {
    top: 2px;
  }
}
@media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .main-nav {
    background-image: url("../img/bg-back-tablet@2x.webp");
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-size: 1200px 100%;
  }
}
@media (min-width: 660px) and (min-width: 660px) {
  .page-header__slogan {
    width: 620px;
  }
}
@media (min-width: 660px) and (min-width: 960px) {
  .page-header__slogan {
    width: 940px;
  }
}
@media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .main-nav__wrapper {
    background-image: url("../img/iphone-hand-tablet@2x.webp");
    background-image: url("../img/iphone-hand-tablet@2x.png");
    background-size: 700px auto;
  }
}
@media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .main-nav--opened .main-nav__wrapper {
    background-image: url("../img/iphone-hand-tablet@2x.webp"), url("../img/bg-back-tablet@2x.webp");
    background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
    background-size: 700px auto, 1200px auto;
  }
}
@media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .main-nav--opened .page-header--photo__header {
    background-image: url("../img/bg-back-tablet@2x.webp");
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-size: 1200px auto;
  }
}
@media (min-width: 960px) {
  .menu {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .menu-wrapper__main {
    width: 280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .main-nav--opened .page-header--photo__header {
    margin: 0 auto;
    background-image: none;
    width: 100%;
    text-align: center;
  }
  .page-header__logo {
    width: 154px;
    height: 48px;
    background-image: url("../img/logo-pink-white-desktop.svg");
  }
  .page-header__logo:hover {
    background-image: url("../img/logo-pink-white-desktop--hover.svg");
  }
  .page-header--photo__header h1 {
    padding: 68px 20px 0;
    height: 280px;
  }
  .page-header--photo__header--contest h1 {
    width: 940px;
  }
  .main-nav--opened .page-header__slogan {
    padding-top: 108px;
    padding-left: 30px;
    font-size: 50px;
    line-height: 60px;
    background-image: url("../img/iphone-hand-desktop@1x.webp");
    background-image: url("../img/iphone-hand-desktop@1x.png");
    height: 745px;
    background-position: left -15% bottom;
  }
  .main-nav--opened .page-header__slogan p {
    margin: 0;
  }
  .main-nav--opened .main-nav__logo-block {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    background-image: none;
  }
  .main-nav {
    height: 855px;
    background-image: url("../img/bg-back-desktop@1x.webp");
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
  }
  .main-nav--photo {
    height: 395px;
  }
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 620px;
    font-size: 18px;
    line-height: 18px;
    background-color: transparent;
  }
  .site-list__item {
    font-weight: 400;
    border: none;
    box-shadow: none;
  }
  .site-list__item:last-child {
    border: none;
  }
  .site-list__item a {
    padding-top: 4px;
    padding-bottom: 3px;
    text-transform: capitalize;
  }
  .site-list__item--active a {
    border-bottom: 2px solid #ffffff;
  }
  .site-list__item a:hover {
    color: #d22856;
  }
  .site-list__item a:active {
    color: #ffffff;
    opacity: 0.3;
  }
}
@media (min-width: 960px) and (min-width: 660px) {
  .menu-wrapper__main {
    width: 620px;
  }
}
@media (min-width: 960px) and (min-width: 960px) {
  .menu-wrapper__main {
    width: 940px;
  }
}
@media (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
  .main-nav--opened .page-header__slogan {
    background-image: url("../img/iphone-hand-desktop@2x.webp");
    background-image: url("../img/iphone-hand-desktop@2x.png");
    background-size: 1050px auto;
  }
}
@media (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
  .main-nav {
    background-image: url("../img/bg-back-desktop@2x.webp");
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-size: 2600px auto;
  }
}
