@import "../mixins";

.photo-user {
  margin: 0;
  padding: 0;
}

.comments-list {
  margin-bottom: 45px;
  background-color: #ffffff;
}

.comments-list__item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f2f2f2;
}

.photo-user__intro {
  margin: 0 auto;
  padding: 49px 0 47px 0;
  width: 245px;
  line-height: 30px;
  text-align: center;
}

.photo-user__container-main {
  height: 137px;
  background-image: url("../img/panorama-mobile@1x.webp"), url("../img/panorama-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/panorama-mobile@2x.webp"), url("../img/panorama-mobile@2x.jpg");
    background-size: cover;
  }
}

.photo-user__container-wrapper {
  .container();
}

.photo-user__img-day {
  margin-left: auto;
  margin-right: 0;
  padding: 6px 19px;
  display: block;
  width: 140px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #d22856;
}

.comments-list__item picture {
  height: 180px;
}

.comments-list__item-article {
  margin: 18px 0 18px 18px;
}

.comments-list__comments {
  margin: 0;
  padding-bottom: 9px;
}

.comments-list__name {
  font-weight: 700;
}

.comments-list__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.comments-list__counter {
  position: relative;
  margin: 0;
  padding-top: 2px;
  padding-left: 32px;
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: 10px;
    left: 0;
    width: 13px;
    height: 11px;
    content: "";
    background-image: url("../img/icon-heart.svg");
  }
}

.photo-user__prison {
  line-height: 30px;
  text-align: center;

  &:last-child {
    padding-bottom: 44px;
  }
}

.comments-list__link {
  height: 180px;
}

.comments-list__img {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .comments-list__img--main {
    min-height: 510px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .photo-user__intro {
    margin: 0 auto;
    padding: 91px 0 77px 0;
    width: 440px;
    font-size: 18px;
  }

  .photo-user__container-wrapper {
    padding-top: 57px;
  }

  .photo-user__container-main {
    height: 510px;
    background-image: url("../img/panorama-tablet@1x.webp"), url("../img/panorama-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/panorama-tablet@2x.webp"), url("../img/panorama-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .comments-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .comments-list__comments {
    padding: 0;
  }

  .comments-list__comments--main {
    position: relative;
    margin: 21px 13px 27px 28px;

    &::before {
      position: absolute;
      top: 7px;
      right: 15px;
      width: 13px;
      height: 11px;
      content: "";
      background-image: url("../img/icon-heart.svg");
    }
  }

  .comments-list__comments--main .comments-list__counter--main {
    position: absolute;
    top: 0;
    right: 46px;

    &::before {
      background-image: none;
    }
  }

  .comments-list__item-article {
    margin: 23px 13px 25px 28px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .comments-list__item {
    margin-bottom: 20px;
    width: 300px;
    min-height: 455px;
  }

  .comments-list__item--main {
    margin: 0 0 50px 0;
    padding: 0;
    width: 620px;
    min-height: 120px;
  }

  .comments-list__item picture {
    height: 300px;
  }

  .comments-list__item-article-wrapper .comments-list__counter {
    padding-right: 46px;
    padding-top: 4px;
  }

  .comments-list__item-article-wrapper .comments-list__counter::before {
    top: 9px;
    right: 16px;
  }

  .comments-list__img {
    height: 300px;
    max-height: 510px;
  }

  .comments-list__link {
    height: 300px;
  }

  .comments-list__counter {
    position: relative;
    margin-top: auto;
    padding: 0;

    &::before {
      position: absolute;
      top: 6px;
      left: 228px;
    }
  }

  .photo-user__prison {
    font-size: 18px;

    &:last-child {
      padding-bottom: 70px;
    }
  }
}

@media (min-width: @desktop-width) {
  .comments-list {
    margin-bottom: 0;
    width: 940px;
  }

  .photo-user__intro {
    margin: 0 auto;
    padding: 90px 0 87px 0;
    width: 575px;
  }

  .photo-user__container-main {
    height: 510px;
    background-image: url("../img/panorama-desktop@1x.webp"), url("../img/panorama-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/panorama-desktop@2x.webp"), url("../img/panorama-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .comments-list__item {
    margin-bottom: 53px;
    min-height: 555px;
  }

  .comments-list__item picture {
    height: 400px;
  }

  .comments-list__item--main {
    width: 940px;
    min-height: 95px;
  }

  .comments-list__item-article {
    margin: 23px 13px 25px 28px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .comments-list__comments--main {
    margin-bottom: 0;
  }

  .comments-list__link {
    height: 400px;
  }

  .comments-list__img {
    min-height: 400px;
  }
}
