.photo-user {
  margin: 0;
  padding: 0;
}
.comments-list {
  background-color: #ffffff;
}
.comments-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}
.photo-user__intro {
  line-height: 30px;
  text-align: center;
  padding: 49px 15px;
}
.photo-user__container-span {
  position: relative;
  height: 137px;
  background-repeat: no-repeat;
  background-size: cover;
}
.photo-user__img-day {
  position: absolute;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #d22856;
  top: 0;
  right: -2px;
  margin-right: 20px;
  padding: 6px 21px;
}
.comments-list__item-article {
  margin: 17px 0 10px 18px;
}
.comments-list__comments {
  margin: 0;
  padding-bottom: 9px;
}
.comments-list__name {
  font-weight: 700;
}
.comments-list__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
.comments-list__counter {
  position: relative;
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
  margin: 0;
  padding-top: 2px;
  padding-left: 32px;
}
.comments-list__counter::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-heart.svg");
  width: 13px;
  height: 11px;
  top: 10px;
  left: 0;
}
.photo-user__prison {
  text-align: center;
}
.comments-list__img {
  width: 100%;
}
@media (min-width: 660px) {
  .photo-user__container-span {
    height: 510px;
  }
  .comments-list__img--main {
    min-height: 510px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .photo-user__intro {
    font-size: 18px;
    padding: 95px 90px 75px 90px;
  }
  .photo-user__img-day {
    right: 3px;
    top: 55px;
  }
  .comments-list__comments {
    padding: 0;
  }
  .comments-list__item-article {
    height: 150px;
    padding: 22px 13px 25px 28px;
  }
  .comments-list__comments--main {
    height: 120px;
  }
  .comments-list__item-article-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .comments-list__item-article-wrapper .comments-list__counter {
    padding-right: 46px;
    padding-top: 4px;
  }
  .comments-list__item-article-wrapper .comments-list__counter::before {
    top: 9px;
    right: 16px;
  }
  .comments-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
  }
  .comments-list__img {
    height: 300px;
    max-height: 510px;
  }
  .comments-list__item {
    width: 300px;
  }
  .comments-list__item-main {
    width: 620px;
    margin-bottom: 50px;
  }
  .comments-list__counter::before {
    top: 6px;
    right: 19px;
  }
}
@media (min-width: 960px) {
  .comments-list {
    width: 940px;
  }
  .photo-user__intro {
    padding: 87px 160px;
  }
  .comments-list__item-main {
    width: 940px;
  }
  .comments-list__item {
    margin-bottom: 55px;
  }
  .comments-list__comments--main {
    height: 95px;
  }
  .photo-user__img-day {
    top: 52px;
    right: 112px;
  }
  .comments-list__img {
    height: 400px;
  }
}
