.photo-user {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.comments-list {
  background-color: #ffffff;
}
.comments-list__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
}
.photo-user__intro {
  margin: 0 auto;
  padding: 55px 0;
}
.photo-user__container-span {
  position: relative;
  height: 140px;
  background-image: url("../img/panorama-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.photo-user__img-day {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #d22856;
}
.comments-list__name {
  font-weight: 700;
}
.comments-list__time {
  font-weight: 300;
  text-transform: uppercase;
}
.comments-list__counter {
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
}
@media (min-width: 660px) {
  .comments-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
  }
  .comments-list__item {
    width: 300px;
  }
  .comments-list__item-main {
    width: 620px;
  }
}
@media (min-width: 960px) {
  .comments-list {
    width: 940px;
  }
  .comments-list__item-main {
    width: 940px;
  }
}
