.price-offers {
  padding-top: 90px;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: top -3% center;
  background-size: auto;
  background-repeat: no-repeat;
}

.price-offers__name {
  margin: 0;
  padding-top: 16px;
  font-size: 18px;
  font-weight: 700;
}

.price-offers__price {
  display: block;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.price-offers__list {
  display: flex;
  justify-content: center;

  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}

.price-offers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 280px;
  margin: 0;
  padding: 0 87px;
  border: 1px solid black;
}

.price-offers__item:nth-child(3) {
  flex-grow: 1;
  width: 280px;
  margin: 0 2px;
}

.price-offers__wrapper-head {
  width: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #283645;
  text-transform: uppercase;
}

.bonus-list-tablet {
  display: none;
  border: 1px solid black;
}

.bonus-list {
  padding: 0;
}

.bonus-list__item {
  text-transform: uppercase;
}

.price-offers__hit {
  top: 50px;
  left: 50px;
  text-transform: uppercase;
}

.price-offers__toggles {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media (min-width: 660px) {
  .price-offers__list {
    width: 620px;
  }

  .price-offers__item {
    width: 155px;
    padding: 0;
  }

  .price-offers__item:nth-child(3) {
    width: 155px;
    flex-grow: 0;
    margin: 0;
    padding: 0;
  }

  .bonus-list-tablet {
    display: block;
    text-transform: none;
    width: 155px;
    padding: 0;
  }
}

@media (min-width: 960px) {
  .price-offers__list {
    width: 940px;
  }

  .price-offers__item,
  .bonus-list-tablet {
    width: 235px;
  }

  .price-offers__item:nth-child(3) {
    width: 235px;
  }
}
