.price-offers {
  padding-top: 118px;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: top -3% center;
  background-size: auto;
  background-repeat: no-repeat;
}
.price-offers__name {
  margin: 0;
  padding-top: 16px;
  font-size: 18px;
  font-weight: 700;
}
.price-offers__price {
  display: block;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}
.price-offers__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 0 35px 0;
  overflow: hidden;
}
.price-offers__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;
  width: 280px;
}
.price-offers__item:nth-child(3) {
  position: relative;
  flex-grow: 1;
  width: 280px;
}
.price-offers__item:nth-child(3)::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 74px;
  height: 73px;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
}
.price-offers__item:nth-child(3)::after {
  z-index: 100;
  position: absolute;
  top: 12px;
  left: 11px;
  content: "хит";
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  transform: rotate(-45deg);
}
.bonus-list__item-standart:nth-child(3)::after {
  position: absolute;
  top: 14px;
  right: 21px;
  content: "";
  width: 27px;
  height: 27px;
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.bonus-list__item-standart:nth-child(3)::before {
  position: absolute;
  top: 18px;
  right: 17px;
  content: "";
  width: 33px;
  height: 25px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.bonus-list__item {
  display: block;
  position: relative;
  padding: 16px 0 15px 23px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  background-color: #ffffff;
  border-left: 2px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.bonus-list__item .bonus-list__item-base:nth-child(2)::after {
  position: absolute;
  top: 14px;
  right: 21px;
  content: "";
  width: 27px;
  height: 27px;
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.bonus-list__item-standart:nth-child(3)::before {
  background-image: none;
}
.bonus-list__item-base:nth-child(2)::before {
  background-image: none;
}
.bonus-list__item-base:nth-child(2)::before,
.bonus-list__item-base:nth-child(3)::before {
  top: 14px;
  right: 21px;
  content: "";
  width: 27px;
  height: 27px;
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.bonus-list__item-unlim:nth-child(3)::before {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.price-offers__wrapper-head {
  position: relative;
  width: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #283645;
  text-transform: uppercase;
  border-left: 2px solid #e5e5e5;
}
.bonus-list-tablet {
  display: none;
}
.bonus-list {
  padding: 0;
  width: inherit;
}
.bonus-list__item {
  display: block;
  position: relative;
  padding: 16px 0 15px 23px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  background-color: #ffffff;
  border-left: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
}
.bonus-list__item::before {
  position: absolute;
  top: 18px;
  right: 17px;
  content: "";
  width: 33px;
  height: 25px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.price-offers__toggles-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 0 45px 0;
  width: 60px;
}
.slider__toggle-btn--price-offers {
  background-color: #f2f2f2;
}
@media (min-width: 660px) {
  .price-offers {
    padding-top: 100px;
  }
  .price-offers__list {
    padding-bottom: 10px;
  }
  .price-offers__item {
    width: 155px;
  }
  .price-offers__item:nth-child(3) {
    width: 155px;
    flex-grow: 0;
    margin: 0;
    padding: 0;
  }
  .price-offers__item:nth-child(3)::before {
    background-image: url("../img/bg-hit-tablet.svg");
  }
  .price-offers__item:last-child {
    border-right: 4px solid #e5e5e5;
  }
  .price-offers__name {
    padding-top: 15px;
    font-size: 16px;
  }
  .price-offers__price {
    padding-bottom: 10px;
    font-size: 16px;
  }
  .bonus-list__item {
    padding: 7px 0;
  }
  .bonus-list__item span {
    display: inline-block;
    width: 150px;
    opacity: 0;
  }
  .bonus-list-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
    padding: 0;
    width: 155px;
    background-color: #ffffff;
    text-transform: none;
    border: 2px solid #e5e5e5;
    border-right: 1px;
  }
  .bonus-list-tablet__item {
    padding: 6px 0 6px 15px;
    line-height: 30px;
    width: inherit;
    border-bottom: 2px solid #e5e5e5;
  }
  .bonus-list-tablet__item:last-child {
    border-bottom: none;
  }
  .bonus-list__item::before,
  .bonus-list__item::after,
  .bonus-list__item-base:nth-child(2)::before,
  .bonus-list__item-base:nth-child(3)::before,
  .bonus-list__item-standart:nth-child(3)::after {
    top: 10px;
    left: 62px;
  }
  .price-offers__toggles-list {
    opacity: 0;
  }
}
@media (min-width: 960px) {
  .price-offers {
    padding-top: 157px;
    padding-bottom: 20px;
    background-position: top center;
  }
  .price-offers__price .price-offers__list {
    width: 940px;
  }
  .price-offers__item,
  .bonus-list-tablet {
    width: 235px;
  }
  .price-offers__item:nth-child(3) {
    width: 235px;
  }
  .bonus-list-tablet {
    margin-top: 95px;
    font-size: 18px;
    line-height: 30px;
  }
  .bonus-list-tablet__item {
    padding: 13px 0 17px 21px;
  }
  .bonus-list__item {
    padding: 15px 0;
  }
  .bonus-list__item::before,
  .bonus-list__item::after,
  .bonus-list__item-base:nth-child(2)::before,
  .bonus-list__item-base:nth-child(3)::before,
  .bonus-list__item-standart:nth-child(3)::after {
    top: 16px;
    left: 100px;
  }
  .price-offers__price {
    font-size: 24px;
    padding-bottom: 21px;
  }
}
