.price-offers {
  outline: 2px solid black;
  background-color: #f2f2f2;
}
.price-offers__name {
  font-size: 18px;
  font-weight: 700;
}
.price-offers__price {
  font-size: 24px;
  font-weight: 300;
}
.bonus-list__item {
  text-transform: uppercase;
}
.price-offers__hit {
  text-transform: uppercase;
}
