.price-offers {
  background-color: #f2f2f2;
}
.price-offers__name {
  font-size: 18px;
  font-weight: 700;
}
.price-offers__price {
  font-size: 24px;
  font-weight: 300;
}
.price-offers__list {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}
.price-offers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 280px;
  margin: 0;
  padding: 0 87px;
  border: 1px solid black;
}
.price-offers__item:nth-child(3) {
  flex-grow: 1;
  width: 280px;
  padding: 0 87px;
  margin: 0 2px;
}
.bonus-list-tablet {
  display: none;
  border: 1px solid black;
}
.bonus-list {
  padding: 0;
}
.bonus-list__item {
  text-transform: uppercase;
}
.price-offers__hit {
  top: 50px;
  left: 50px;
  text-transform: uppercase;
}
@media (min-width: 660px) {
  .price-offers__list {
    width: 620px;
  }
  .price-offers__item {
    width: 155px;
    padding: 0;
  }
  .price-offers__item:nth-child(3) {
    width: 155px;
    flex-grow: 0;
    margin: 0;
    padding: 0;
  }
  .bonus-list-tablet {
    display: block;
    text-transform: none;
    width: 155px;
    padding: 0;
  }
}
@media (min-width: 960px) {
  .price-offers__list {
    width: 940px;
  }
  .price-offers__item,
  .bonus-list-tablet {
    width: 235px;
  }
  .price-offers__item:nth-child(3) {
    width: 235px;
  }
}
