* {
  webkit-box-sizing: inherit;
  box-sizing: inherit;
}
*::before {
  webkit-box-sizing: inherit;
  box-sizing: inherit;
}
*::after {
  webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #1d2631;
  min-width: 280px;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}
body {
  font-family: "Opensans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #1d2631;
  min-width: 280px;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.inner {
  width: 280px;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 660px) {
  .inner {
    width: 620px;
    margin: 0 auto;
    padding: 0;
  }
}
@media (min-width: 960px) {
  .inner {
    width: 940px;
    margin: 0 auto;
    padding: 0;
  }
}
